*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// colors
$editorial: blue;
$brand-campaign: orange;
$recruiting: teal;
$mobile: red;
$website: rgb(149, 39, 39);
$sales: rgb(114, 248, 48);
$tomo-today: green;
$add-task-list: blue;

