*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// colors
$editorial: blue;
$brand-campaign: orange;
$recruiting: teal;
$mobile: red;
$website: #4A0404;
$sales:  #e3ff00;
$tomo-today: green;
$add-task-list: blue;

