* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

header {
  max-width: 100%;
  padding: 1% 2% 0;
  box-shadow: 1px 1px 30px 3px rgba(128, 128, 128, 0.327);
  margin-bottom: 30px;
}
header .head-content {
  display: flex;
  justify-content: space-between;
}
header .head-content .left-side {
  display: flex;
  align-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header .head-content .left-side .hamburger {
  padding-top: 20px;
}
header .head-content .left-side .task h1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
header .head-content .left-side .task nav ul {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
header .head-content .left-side .task nav ul li {
  list-style: none;
  padding-bottom: 15px;
}
header .head-content .left-side .task nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header .head-content .left-side .task nav ul li a:hover {
  color: blue;
  text-decoration: underline;
}
header .head-content .right-side {
  display: flex;
}
header .head-content .right-side .search-bar {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  position: relative;
}
header .head-content .right-side .search-bar input {
  border-radius: 30px;
  width: 100%;
  height: 30px;
}
header .head-content .right-side .search-bar .search-bar-icon-container {
  position: relative;
}
header .head-content .right-side .search-bar .search-bar-icon-container i {
  position: absolute;
}
header .head-content .right-side .plus-container {
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 50%;
  color: #fff;
  background-color: blue;
}
header .head-content .right-side .passport-container {
  width: 20px;
  height: 20px;
  background-image: url("/images/service-center.png");
}

body {
  width: 100%;
}

section {
  width: 100%;
  background-color: #eee;
}
section .body-content {
  max-width: 50%;
  margin-left: 25%;
  background-color: #fff;
  box-shadow: 0.25px 0.25px 30px 0.5px rgba(128, 128, 128, 0.315);
}
section .body-content .add-task-button {
  padding: 8px 3px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  border: none;
  border-radius: 2px;
  margin: 15px 25px;
}
section .body-content .add-task-hr {
  height: 2px;
  border: none;
  background-color: rgba(128, 128, 128, 0.254);
}
section .body-content .part-one {
  padding: 15px 25px;
}
section .body-content .part-one .main-heading .chevron {
  margin-right: 2px;
}
section .body-content .part-one .main-heading .heading-text {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}
section .body-content .part-one .headings-hr {
  border: 0.25px solid #000;
  margin-bottom: 10px;
}
section .body-content .part-one .part-line {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-one .part-line .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-one .part-line .more-info button {
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: blue;
}
section .body-content .part-one .part-line .more-info p {
  color: green;
}
section .body-content .part-two {
  padding: 15px 25px;
}
section .body-content .part-two .main-heading .chevron {
  margin-right: 2px;
}
section .body-content .part-two .main-heading .heading-text {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}
section .body-content .part-two .headings-hr {
  border: 0.25px solid #000;
  margin-bottom: 10px;
}
section .body-content .part-two .part-line {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-two .part-line .first-point label {
  font-size: 16px;
}
section .body-content .part-two .part-line .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-two .part-line .more-info button {
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: blue;
}
section .body-content .part-two .part-line .more-info p {
  color: green;
}
section .body-content .part-two .two {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-two .two .first-point label {
  font-size: 16px;
}
section .body-content .part-two .two .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-two .two .more-info button {
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: orange;
}
section .body-content .part-two .two .more-info p {
  color: green;
}
section .body-content .part-two .three {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-two .three .first-point label {
  font-size: 16px;
}
section .body-content .part-two .three .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-two .three .more-info button {
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: teal;
}
section .body-content .part-two .three .more-info p {
  color: green;
}
section .body-content .part-two .four {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-two .four .first-point label {
  font-size: 16px;
}
section .body-content .part-two .four .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-two .four .more-info button {
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: red;
}
section .body-content .part-two .four .more-info p {
  color: green;
}
section .body-content .part-hr {
  height: 2px;
  border: none;
  background-color: rgba(128, 128, 128, 0.254);
}
section .body-content .part-three {
  padding: 15px 25px;
}
section .body-content .part-three .main-heading .chevron {
  margin-right: 2px;
}
section .body-content .part-three .main-heading .heading-text {
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}
section .body-content .part-three .headings-hr {
  border: 0.25px solid #000;
  margin-bottom: 10px;
}
section .body-content .part-three .part-line, section .body-content .part-three .two {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-three .part-line .first-point label, section .body-content .part-three .two .first-point label {
  font-size: 16px;
}
section .body-content .part-three .part-line .more-info, section .body-content .part-three .two .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-three .part-line .more-info button, section .body-content .part-three .two .more-info button {
  color: white;
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: #4A0404;
}
section .body-content .part-three .part-line .more-info p, section .body-content .part-three .two .more-info p {
  color: green;
}
section .body-content .part-three .three {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-three .three .first-point label {
  font-size: 16px;
}
section .body-content .part-three .three .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-three .three .more-info button {
  color: #000;
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: #e3ff00;
}
section .body-content .part-three .three .more-info p {
  color: green;
}
section .body-content .part-three .four {
  display: flex;
  justify-content: space-between;
}
section .body-content .part-three .four .first-point label {
  font-size: 16px;
}
section .body-content .part-three .four .more-info {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
section .body-content .part-three .four .more-info button {
  color: #000;
  border: none;
  border-radius: 35px;
  padding: 5px 7px;
  font-size: 16px;
  background-color: blue;
}
section .body-content .part-three .four .more-info p {
  color: green;
}/*# sourceMappingURL=style.css.map */