header{
    max-width: 100%;
    padding: 1% 2% 0;
    box-shadow: 1px 1px 30px 3px rgba(128, 128, 128, 0.327);
    margin-bottom: 30px;
    .head-content{
        display: flex;
        justify-content: space-between;
        .left-side{
            display: flex;
            align-content: center;
            column-gap: 20px;
            .hamburger{
                padding-top: 20px
            }
            .task{
                h1{
                    font-size:25px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                nav{
                    ul{
                        display: flex;
                        column-gap: 10px;
                        li{
                            list-style: none;
                            padding-bottom: 15px;
                            a{
                                text-decoration: none;
                                color: #000;
                                font-size: 18px;
                                font-family: Georgia, 'Times New Roman', Times, serif;
                                &:hover{
                                    color: $add-task-list;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-side{
        .search-bar{
            display: flex;
            justify-content: space-between;
            column-gap: 15px;
            position: relative;
            input{
                width: 50px;
            }
            .search-bar-icon-container{
                position: relative;
                i{
                    position: absolute;
                }
            }
        }
        .plus-container{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            color: #fff;
            background-color: $add-task-list;
        }
        .passport-container{
            width: 8px;
            height: 8px;
            background-image: url("/images/service-center.png");
        }
       }
    }
}